extends ../layout

block content

  div.page
    h1.page__title Developer: #{developer.name}

    div
      if developer && developer.img
        div.page__uploaded-img-container.shown
          img#developer-image-id(src=`data:image/svg+xml;base64,${developer.img}` alt="Your uploaded image")
      else
        div.page__uploaded-img-container
          img#developer-image-id(src="#" alt="Placeholder image")
      h2 Applications
      if applications.length
        ul.page__items
          each application in applications
            li.page__item
              a.page__item-link.detail(href=application.url) #{application.name}
                span #{application.description}
      else
        p This developer has no applications.
    hr
    div.page__action-link-container
      a.page__action-link(href=developer.url+'/delete') Delete developer
      a.page__action-link(href=developer.url+'/update') Update developer