extends ../layout

block content

  h1 #{title}: #{developer.name}

  if developer_applications.length

    p #[strong Delete the following applications before attempting to delete this developer.]
    div
      h4 Applications
      dl
        each application in developer_applications
          dt
            a(href=application.url) #{application.name}
          dd #{application.description}

  else
    p Do you really want to delete this Developer?

    form(method='POST')
      div.form-group
        input#developerslug.form-control(type='hidden', name='developerslug', value=developer.slug)

      button.btn.btn-primary(type='submit') Delete