extends ../layout

block content

  div.page
    h1.page__title Genre: #{genre.name}
    if genre && genre.img
      div.page__uploaded-img-container.shown
        img#genre-image-id(src=`data:image/svg+xml;base64,${genre.img}` alt="Your uploaded image")
    else
      div.page__uploaded-img-container
        img#genre-image-id(src="#" alt="Placeholder image")
    p.page__detail Description: #{genre.description}

    div(style='margin-left:20px;margin-top:20px')
      h2 Applications
      if genre_applications.length
        ul.page__items
          each application in genre_applications
            li.page__item
              a.page__item-link.detail(href=application.url) #{application.name}
                span #{application.description}
      else
        p This genre has no applications.

    div.page__action-link-container
      a.page__action-link(href=genre.url+'/delete') Delete Genre
      a.page__action-link(href=genre.url+'/update') Update Genre