extends ../layout

block content

  div.page
    h1.page__title #{title}: #{genre.name}
    p #{genre.description}

    hr

    if genre_applications.length > 0

      p #[strong Remove the genre from the following applications before attempting to delete this genre.]
        div
          h2 Applications
          ul.page__items
            each application in genre_applications
              li.page__item
                a.page__item-link(href=application.url) #{application.name}
                  span #{application.description}

    else
      p Do you really want to delete this Genre?
      form.form(method='POST')
        div
          input#genreslug(type='hidden', name='genreslug', value=genre.slug )
        div.form__group
          label Admin Password:
          input#admin-password(type="password" name="admin_password", required, placeholder="Enter Admin Password")
        button(type='submit') Delete