extends ../layout

block content

  div.page
    h1.page__title Genre: #{genre.name}
    p.page__Detail Description: #{genre.description}

    div(style='margin-left:20px;margin-top:20px')

      h4 Applications
      if genre_applications.length
        dl.page__items
          each application in genre_applications
            dt.page__item
              a(href=application.url) #{application.name}
            dd #{application.description}
      else
        p This genre has no applications.

    div.page__action-link-container
      a.page__action-link(href=genre.url+'/delete') Delete Genre
      a.page__action-link(href=genre.url+'/update') Update Genre